* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border:1px solid white; */
    
}
body {
    background-color: #f7f9fa;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'anton', sans-serif;
    
    
}
h5 {
    margin-left: 2%;
}

p {
    font-family: 'Jura', sans-serif;
    margin-left: 5%;
}


.customNav {
    position: absolute;
    width: 100%;
    background-image: url(/Bootstrap-Portfolio/images/transparency.png);
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
    
}


.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;  
    
}

.nav-link {
    position: relative;
    
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 1.2s;
    height: 2px;
    width: 100%;
    background-color: #ff3300;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.nav-link:hover::after {
    opacity: 1;
}




.dropdown-menu {
    background-color: transparent !important;
    background-size: cover;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: cyan;
    text-decoration: none;
    background: black;
    transition: 1.2s;
}

.dropdown-menu {
    left: -97px;
}
.meBackground {
   background-image: url(../images/glass.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 500px;
   height: calc(100vh - 25px);
   display: flex;
   align-items: center;
   justify-content: center;
}

.meBackground p {
    color: rgba(248, 238, 238, 0.997);
}

 .card-container {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
 }

 .card {
    background-color: #073b51;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 }

 .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
 }
 .card-content {
    padding: 20px;
 }

 .card-content h2 {
    color: #0078c2;
    font-size: 28px;
    margin-bottom: 6px;
    text-align: center;
 }

 .card-content p {
    color: #eee;
    text-align: center;
 }
 .card:hover {
    transition: 1.3s;
    background-color: darkgrey;
    cursor: pointer;
 }



 footer {
    background-color: black;
    

 }

 .footerContainer {
    margin: 0;

    
 }

 .footerContainer ul {
    display: flex;
    justify-content: right;
    margin-right: 2%;
    list-style-type: none;
 }

 .footerContainer ul li {
    color: #f7f9fa;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em,
 }
.footerContainer ul li a {
    color: white;
}

 .footerContainer ul li a:hover {
    box-shadow: 0px 10px 20px 5px rgb(84, 95, 160);
    transition: 1s;
    
    
 }
 
